.talk-to-me-about {
    /* border: 1px solid black;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* font-size: small; */
    padding: 14px;



}

.talk-to-me-about h1{
    font-family: "handsome-pro", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: large;
    display: block;
    padding: 1rem;
    text-align: center;

}

.interests-list {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}

.interests-section h2{
    font-weight: 100;
    font-style: normal;
    margin: 0.4em;
    /* font-size: 4vw; */
    font-size: xx-large;
}


.interests-list p{
    font-family: "tarif", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0.4em;
    /* font-size: 2vw; */
    font-size: small;
}